@use "sass:math";
@use 'variables';
@use 'base';
@use 'header';
@use 'quiz';
@use 'starter';
@use 'footer';
@use 'notifications';
@use 'hero';
@use 'swiper';
@use 'dropdowns';
@use 'media';

/* ============================================================ GENERAL BLOCK ============================================================ */

.price-new {
    font-weight: 600;

}

.price-old {
    font-size: variables.$font-size-small;
    text-decoration: line-through;
}


.fade-in {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.hidden {
    display: none;
    /* Hide completely after fading out */
}

.display-flex {
    display: flex;
}

.display-none {
    display: none;
}

#root {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.checkout__button {
    width: 100%;
    padding: .75rem 1rem;
    background-color: #E96F14;
    border-radius: 10px;
    color: #fff;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}